* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

.main {
  background: linear-gradient(#2F3956, #1D1F3E);
  width: 100%;
}

.container {
  max-width: 425px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.error-reg {
  color: red;
  text-align: center;
  padding: 10px;
}

.success-reg {
  color: rgb(31, 226, 31);
  text-align: center;
  padding: 10px;
}

.form-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.login-box-logo__img {
  height: 40px;
  margin-right: 16px;
}
.login-box-logo__name {
  color: #f5f5f5;
  font-size: 38px;
}

.login-inpun-box {
  position: relative;
  margin-bottom: 16px;
}
.login-inpun-box__input {
  width: 280px;
  height: 50px;
  padding: 10px;
  border: 1px solid #585881;
  background: linear-gradient(#282F4D, #242A48);
  border-radius: 8px;
  outline: none;
  color: #f5f5f5;
  font-size: 18px;
  transition: 0.5s;
}
.login-inpun-box__input:focus {
  border-color: aqua;
}
.login-inpun-box__input:focus ~ .login-inpun-box__span {
  color: aqua;
  transform: translateX(10px) translateY(-9px);
  font-size: 14px;
  padding: 0 10px;
  background-color: #282F4D;
  font-weight: 400;
  letter-spacing: 1px;
}
.login-inpun-box__input:valid ~ .login-inpun-box__span {
  color: aqua;
  transform: translateX(10px) translateY(-9px);
  font-size: 14px;
  padding: 0 10px;
  background-color: #282F4D;
  font-weight: 400;
  letter-spacing: 1px;
}
.login-inpun-box__span {
  position: absolute;
  left: 0;
  padding-left: 10px;
  padding-top: 12px;
  font-size: 18px;
  pointer-events: none;
  color: #585881;
  font-weight: 600;
  transition: 0.5s;
}

.btn-login {
  width: 280px;
  height: 50px;
  background: linear-gradient(#282F4D, #242A48);
  border: 1px solid #585881;
  border-radius: 8px;
  cursor: pointer;
  color: #f5f5f5;
  margin-top: 20px;
  letter-spacing: 1px;
  transition-duration: 0.3s;
}
.btn-login:hover {
  border: 1px solid aqua;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.box-logo {
  display: flex;
  align-items: center;
  color: #787FB5;
  font-size: 16px;
  font-weight: 600;
}
.box-logo__img {
  height: 28px;
  margin-right: 10px;
}

.btn-logout {
  height: 30px;
}

.btn-gear {
  height: 28px;
  margin-right: 10px;
}

.mining-menu {
  padding-top: 50px;
}

.mining-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: #f5f5f5;
}
.mining-link__img {
  width: 30px;
}
.mining-link__name {
  width: 200px;
}
.mining-link__data-gold {
  width: 80px;
  text-align: right;
}

.box-total {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.mining-total {
  width: 170px;
  height: 250px;
  border-radius: 50px;
  background: #293058;
}
.mining-total__line {
  width: 6px;
  height: 130px;
  margin-top: -30px;
  margin-left: 40px;
  border-radius: 3px;
}
.mining-total__line--green {
  background-color: #19D27E;
  box-shadow: -2px 0px 10px 0px #19D27E;
}
.mining-total__line--red {
  background-color: #FF4982;
  box-shadow: -2px 0px 10px 0px #FF4982;
}
.mining-total__data {
  text-align: center;
  color: #f5f5f5;
  font-size: 20px;
  padding-top: 20px;
}
.mining-total__name {
  text-align: center;
  padding-top: 30px;
  color: #787FB5;
}

.header-article {
  color: #f5f5f5;
  padding-top: 70px;
  font-size: 18px;
  font-weight: 600;
}

.event-slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  margin-top: 20px;
}

.event-slide {
  height: 190px;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #293058;
}
.event-slide__img {
  height: 80px;
}
.event-slide__content {
  padding-left: 10px;
}
.event-slide__header {
  color: #f5f5f5;
  font-weight: 700;
  padding-bottom: 5px;
}
.event-slide__txt {
  font-size: 14px;
  color: #787FB5;
}

.swiper-button-next {
  height: 20px;
  width: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  top: 220px;
  right: 38%;
  z-index: 15;
}
.swiper-button-next::after {
  font-size: 10px;
  color: #9da9eb;
}

.swiper-button-prev {
  height: 20px;
  width: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  top: 220px;
  left: 38%;
  z-index: 15;
}
.swiper-button-prev::after {
  font-size: 10px;
  color: #9da9eb;
}

.swiper-pagination {
  color: #9da9eb;
}

.wrapper-add {
  min-height: 100vh;
  padding-bottom: 30px;
}

.add-menu {
  padding-top: 50px;
}
.add-menu__btn {
  display: flex;
  align-items: center;
  padding-left: 22px;
  width: 100%;
  height: 100px;
  border-radius: 40px;
  background-color: #293058;
  margin-bottom: 20px;
  box-shadow: -1px -1px 3px #383946, 2px 2px 4px #1c1e24;
  cursor: pointer;
  color: #f5f5f5;
}
.add-menu__box-img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  background-color: #FE752F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.add-menu__img {
  height: 35px;
}
.add-menu__name {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 600;
}

.wrapper-form-add {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #293058;
  z-index: 5;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  display: none;
}

.form-add {
  max-width: 425px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.form-add__h1 {
  font-size: 18px;
  color: #f5f5f5;
  border-bottom: 2px solid #FE752F;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 2px;
}
.form-add__btn {
  color: #f5f5f5;
}

.add-inpun-box {
  position: relative;
  margin-bottom: 12px;
}
.add-inpun-box__input {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #585881;
  background: linear-gradient(#282F4D, #242A48);
  border-radius: 18px;
  outline: none;
  color: #f5f5f5;
  font-size: 18px;
  transition: 0.5s;
}
.add-inpun-box__input:focus {
  border-color: aqua;
}
.add-inpun-box__input:focus ~ .add-inpun-box__span {
  color: aqua;
  transform: translateX(10px) translateY(-9px);
  font-size: 14px;
  padding: 0 10px;
  background-color: #282F4D;
  font-weight: 400;
  letter-spacing: 1px;
}
.add-inpun-box__input:valid ~ .add-inpun-box__span {
  color: aqua;
  transform: translateX(10px) translateY(-9px);
  font-size: 14px;
  padding: 0 10px;
  background-color: #282F4D;
  font-weight: 400;
  letter-spacing: 1px;
}
.add-inpun-box__span {
  position: absolute;
  left: 0;
  padding-left: 10px;
  padding-top: 17px;
  font-size: 18px;
  pointer-events: none;
  color: #585881;
  font-weight: 600;
  transition: 0.5s;
}

.add-input-select {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #585881;
  background: linear-gradient(#282F4D, #242A48);
  border-radius: 18px;
  outline: none;
  color: #f5f5f5;
  margin-bottom: 12px;
  font-size: 18px;
  padding: 10px;
}

.add-input-option {
  background-color: #282F4D;
  height: 50px;
  padding-top: 20px;
}

.btn-add {
  width: 100%;
  height: 60px;
  background: linear-gradient(#282F4D, #242A48);
  border: 1px solid #585881;
  border-radius: 18px;
  cursor: pointer;
  color: #f5f5f5;
  margin-top: 20px;
  letter-spacing: 1px;
  transition-duration: 0.3s;
}
.btn-add:hover {
  border: 1px solid aqua;
}

.close-menu-add {
  position: absolute;
  top: -30px;
  right: 25px;
  border: 1px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.header-detail {
  display: flex;
  align-items: center;
  background-color: #293058;
  border-radius: 34px;
  height: 200px;
  margin-top: 50px;
}

.gold-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  width: 120px;
  height: 100%;
  background-color: #323a69;
  border-radius: 34px;
  color: #f5f5f5;
  box-shadow: 11px 0px 17px 0px rgba(6, 20, 54, 0.7);
}
.gold-detail__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid #F36F46;
  border-radius: 18px;
  font-size: 22px;
  margin-bottom: 10px;
}
.gold-detail__data-gold {
  padding-top: 10px;
  font-size: 24px;
}
.gold-detail__data-txt {
  font-size: 20px;
}

.chart-detail {
  padding-left: 30px;
  padding-right: 20px;
  width: calc(100% - 120px);
}
.chart-detail__name-mining {
  color: #f5f5f5;
  font-size: 26px;
}
.chart-detail__type-mining {
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 12px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.box-chart {
  display: flex;
  width: 100%;
}
.box-chart__bar {
  width: 18px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #323a69;
}

.table-detail {
  margin-top: 50px;
  padding-bottom: 50px;
}
.table-detail__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  font-weight: 600;
}
.table-detail__string {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  color: #f5f5f5;
}
.table-detail__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  color: #f5f5f5;
  border-top: 1px solid #f5f5f5;
  font-weight: 600;
}
.table-detail__data {
  width: 66px;
  text-align: center;
  font-size: 14px;
}